<div class="wrapper wrapper-content">

  <div class="row" *ngIf="!Anotacion && !ErrorConCampeon && !ErrorContraCampeon">

    <div class="col-lg-4 animated fadeInUp" *ngFor="let t of Tipos">
      <div class="ibox-title">
        <h4> <i class="far fa-edit"></i> {{t.Nombre}}</h4>
      </div>
      <div class="ibox-content">
        <p style="height: 50px">
          {{t.Descripcion}}
        </p>
        <button class="btn btn-success dim" type="button" (click)="open(t.Id)"><i class="fa fa-plus"></i></button>
      </div>
      <br />

    </div>
  </div>

  <div class="animated fadeInRight" *ngIf="Anotacion || ErrorConCampeon || ErrorContraCampeon">

  

    <div *ngIf="Anotacion">
      <div class="ibox-title">
        <label>Anotación</label> <i class="fa fa-reply fa-2x" style="float: right; cursor: pointer" (click)="cancel()"></i>
      </div>
      <div class="ibox-content">
        <div class="form-group">
          <textarea type="text" rows="3" class="form-control" [(ngModel)]="Registro.Error"></textarea>
        </div>
        <div class="form-group">

          <div class="form-check">
            <input class="form-group" type="checkbox" (change)="Registro.Privado = !Registro.Privado" [checked]="Registro.Privado" />

            <label class="form-check-label">Registro Privado
            <i class="fa fa-lock" *ngIf="Registro.Privado"></i>
            <i class="fa fa-unlock" *ngIf="!Registro.Privado"></i>
            </label>
          </div>

        </div>
          <button class="btn btn-success" type="button" (click)="newRecord()"> Registrar</button>
      </div>
    </div>

    <div *ngIf="ErrorConCampeon">
      <div class="ibox-title">  <label>Error con campeón</label> <i class="fa fa-reply fa-2x" style="float: right; cursor: pointer" (click)="cancel()"></i> </div>
      <div class="ibox-content">
        <div class="row" *ngIf="Galeria">

          <div class="col-lg-6">
            <label>Buscador</label>
            <input class="form-control" type="text" [(ngModel)]="Search" (input)="filterSearch()"/>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Roles</label>
              <select class="form-control" (change)="onChange()" [(ngModel)]="Rol" >
                <option *ngFor="let r of Roles" [ngValue]="r">{{r.Nombre}}</option>
              </select>
            </div>
          </div>

        </div>

        <div class="lightBoxGallery animated fadeInDown" *ngIf="Galeria">
          <hr />
          <label>Seleccione al campeón</label> <br />
          <a title="{{c.Nombre}}" *ngFor="let c of List"><img style="cursor:pointer" src="assets/Champions/{{c.Nombre}}.png" width="50" height="50" (click)="selectChampion(c)"></a>
          <hr />

        </div>

        <div *ngIf="!Galeria" class="animated fadeIn">
          <div class="registro">

            <div style="display: inline-flex" *ngIf="Campeon != null">
              <div class="form-group" (click)="Campeon = null">  <a class="btn btn-white btn-bitbucket"> <i class="fa fa-times"></i></a></div>
              <div class="form-group" style="margin-left: 10px"> <img src="assets/Champions/{{Campeon.Nombre}}.png" width="30" height="30" /> </div>
              <div class="form-group" style="margin-left: 10px"><h2>{{Campeon.Nombre}}</h2> </div>
            </div>

            <div class="form-group" *ngIf="!Campeon"> <a (click)="Galeria = true">Seleccionar Campeón</a> </div>

            <div class="form-group"> <textarea type="text" rows="3" class="form-control" [(ngModel)]="Registro.Error" [disabled]="!Campeon"></textarea></div>

            <div class="form-group">
              <div class="form-check">
                <input class="form-group" type="checkbox" (change)="Registro.Privado = !Registro.Privado" [checked]="Registro.Privado" />
                <label class="form-check-label">
                  Registro Privado
                  <i class="fa fa-lock" *ngIf="Registro.Privado"></i>
                  <i class="fa fa-unlock" *ngIf="!Registro.Privado"></i>


                </label>
              </div>

            </div>

            <button class="btn btn-success" type="button" (click)="newRecord()" [disabled]="!Campeon"> Registrar</button>
          </div>


        </div>


        <div class="form-group text-right">
          <br />
          <button class="btn btn-danger" type="button" (click)="cancel()" *ngIf="Galeria"> Cancelar</button>
        </div>

      </div>
  
    </div>

    <div *ngIf="ErrorContraCampeon">
      <div class="ibox-title">
        <label>Error contra campeón</label> <i class="fa fa-reply fa-2x" style="float: right; cursor: pointer" (click)="cancel()"></i>
      </div>
      <div class="ibox-content">

        <div class="row" *ngIf="Galeria">

          <div class="col-lg-6">
            <label>Buscador</label>
            <input class="form-control" type="text" [(ngModel)]="Search" (input)="filterSearch()" />
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Roles</label>
              <select class="form-control" (change)="onChange()" [(ngModel)]="Rol">
                <option *ngFor="let r of Roles" [ngValue]="r">{{r.Nombre}}</option>
              </select>
            </div>
          </div>

        </div>

        <div class="lightBoxGallery animated fadeInDown" *ngIf="Galeria">

          <hr />
          <label>Seleccione al campeón</label> <br />
          <a title="{{c.Nombre}}" *ngFor="let c of List"><img style="cursor:pointer" src="assets/Champions/{{c.Nombre}}.png" width="50" height="50" (click)="selectErrorContraCampeon(c, Target)"></a>
          <hr />

          <div class="form-group text-right">
            <button class="btn btn-danger" type="button" (click)="cancel()" *ngIf="Galeria"> Cancelar</button>
          </div>
        </div>
        <div *ngIf="!Galeria" class="animated fadeIn">
          <div class="form-group">
            <div style="display: inline-flex">
              <a *ngIf="!Campeon" (click)="Galeria = true; Target = 'Campeon';">Seleccionar Campeon</a>
              <div class="form-group" (click)="Campeon = null" *ngIf="Campeon">  <a class="btn btn-white btn-bitbucket"> <i class="fa fa-times"></i></a></div>
              <div class="form-group" style="margin-left: 10px" *ngIf="Campeon"> <img src="assets/Champions/{{Campeon.Nombre}}.png" width="30" height="30" /> </div>
              <div class="form-group" style="margin-left: 10px" *ngIf="Campeon"> <h2>{{Campeon.Nombre}}</h2> </div>
            </div>
          </div>

          <div class="form-group">
            <div style="display: inline-flex">
              <a *ngIf="!Enemigo" (click)="Galeria = true; Target = 'Enemigo';">Seleccionar Enemigo</a>
              <div class="form-group" (click)="Enemigo = null" *ngIf="Enemigo">  <a class="btn btn-white btn-bitbucket"> <i class="fa fa-times"></i></a></div>
              <div class="form-group" style="margin-left: 10px" *ngIf="Enemigo"> <img src="assets/Champions/{{Enemigo.Nombre}}.png" width="30" height="30" /> </div>
              <div class="form-group" style="margin-left: 10px" *ngIf="Enemigo"> <h2>{{Enemigo.Nombre}}</h2> </div>
            </div>
          </div>





          <div class="form-group">
            <textarea type="text" rows="3" class="form-control" [(ngModel)]="Registro.Error" [disabled]="!Campeon || !Enemigo"></textarea>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-group" type="checkbox" (change)="Registro.Privado = !Registro.Privado" [checked]="Registro.Privado" />
              <label class="form-check-label">
                Registro Privado
                <i class="fa fa-lock" *ngIf="Registro.Privado"></i>
                <i class="fa fa-unlock" *ngIf="!Registro.Privado"></i>


              </label>
            </div>
          </div>
          <button class="btn btn-success" type="button" (click)="newRecord()" [disabled]="!Campeon || !Enemigo"> Registrar</button>
          <!--<button class="btn btn-danger space" type="button" (click)="cancel()"> Cancelar</button>-->

        </div>
      </div>
    </div>




  </div>



</div>
