<div class="wrapper wrapper-content animated fadeInDown">

  <div class="tabs-container">
    <ul class="nav nav-tabs asdasd" role="tablist">
      <li> <a class="nav-link active" data-toggle="tab" href="#tab-1"> <i class="fa fa-book"></i>Registros </a> </li>

      <!--<li> <a class="nav-link" data-toggle="tab" href="#tab-2"> <i class="fa fa-filter"></i>Filtros  </a> </li>-->
    </ul>
    <div class="tab-content">
      <div role="tabpanel" id="tab-1" class="tab-pane active">
        <div class="panel-body">



          <div class="form-group">
            <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#modalBusqueda"> <i class="fa fa-filter"></i> Parámetros de Búsqueda  </button>
            <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#modalCampeones"> <i class="fa fa-search"></i> Búsqueda de Campeones </button>
          </div>


          <div class="spiner-example" *ngIf="Loading">
            <div class="sk-spinner sk-spinner-three-bounce form-group">
              <div class="sk-bounce1"></div>
              <div class="sk-bounce2"></div>
              <div class="sk-bounce3"></div>
            </div>
          </div>

          <div class="table-responsive  animated fadeInDown" *ngIf="Grid.List.length > 0 && !Loading">
            <table class="table invoice-table">
              <thead>
                <tr>
                  <th>Registro</th>
                  <th>Campeon</th>
                  <th>Enemigo</th>
                  <th class="text-center" *ngIf="!anyRecordEditing()"></th>
                  <th class="text-center"></th>
                  <th class="text-center" *ngIf="anyRecordEditing()"></th>
                  <th class="text-center" *ngIf="anyRecordEditing()"></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let r of Grid.List">

                  <td (dblclick)="r.Edit = true" style="cursor: pointer;">
                    <label *ngIf="!r.Edit">{{r.Error}}</label>
                    <textarea class="form-control" *ngIf="r.Edit" style="text-align: center;" [(ngModel)]="r.Error">{{r.Error}}</textarea>
                  </td>

                  <td width="1" style="vertical-align: middle; text-align: center">
                    <img src="assets/Champions/{{r.Campeon.Nombre}}.png" width="30" height="30" *ngIf="r.Campeon" title="{{r.Campeon.Nombre}}" (click)="openRecord(r.Campeon.Nombre)" style="cursor: pointer;" />
                    <label *ngIf="!r.Campeon">—</label>
                  </td>

                  <td width="1" style="vertical-align: middle; text-align: center">
                    <img *ngIf="r.Enemigo" src="assets/Champions/{{r.Enemigo.Nombre}}.png" width="30" height="30" title="{{r.Enemigo.Nombre}}" (click)="openRecord(r.Enemigo.Nombre)" style="cursor: pointer;" />
                    <label *ngIf="!r.Enemigo">—</label>
                  </td>


                  <td width="1" style="vertical-align: middle;">
                    <a *ngIf="!r.Edit" class="btn btn-white btn-bitbucket" (click)="r.Edit = true"> <i class="fas fa-edit"></i></a>
                    <a *ngIf="r.Edit" class="btn btn-white btn-bitbucket" (click)="updateRecord(r)"> <i class="fas fa-check"></i></a>
                  </td>





                  <td width="1" style="vertical-align: middle;" *ngIf="anyRecordEditing()">
                    <a *ngIf="r.Edit" class="btn btn-white btn-bitbucket" (click)="r.Edit = false"> <i class="fas fa-times"></i></a>
                  </td>

                  <td width="1" style="vertical-align: middle;">
                    <a class="btn btn-white btn-bitbucket" (click)="SelectedRecord = r" data-toggle="modal" data-target="#modalDelete"> <i class="fas fa-trash"></i></a>
                  </td>

                </tr>


              </tbody>

            </table>
          </div>


          <nch-pagination [Grid]=Grid *ngIf="Grid.List.length != 0" (getPage)="getPage($event)"></nch-pagination>

          <div class="form-group text-center animated fadeInLeft" *ngIf="Grid.List.length == 0 && !Loading">
            <h2>No se han encontrado resultados...</h2>
          </div>




        </div>
      </div>
   
    </div>

  </div>



</div>




<div class="modal inmodal" id="modalBusqueda" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeInDown">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <i class="fa fa-search modal-icon"></i>
        <h4 class="modal-title"> Parámetros de Búsqueda</h4>
        <small>Realice una búsqueda de sus registros seleccionando las categorías en las que esté interesado.</small>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Buscar por tipo de registro:</label>

          <div *ngFor="let t of Tipos">
            <div class="form-check">
              <input class="form-group" type="checkbox" (change)="t.Checked = !t.Checked" />
              <label class="form-check-label">{{t.Nombre}}</label>
            </div>
          </div>



        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="getRecordsByTypes()" data-dismiss="modal"><i class="fa fa-search"></i></button>

      </div>
    </div>
  </div>
</div>


<div class="modal inmodal" id="modalCampeones" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeInDown">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <i class="fa fa-search modal-icon"></i>
        <h4 class="modal-title"> Búsqueda de Campeones</h4>
        <small>Seleccione a los campeones para traer todos los registros que tenga con ellos.</small>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Buscar por Campeones</label>
          <div class="form-group">
            <input class="form-control" (input)="filterSearch()" [(ngModel)]="Search" placeholder="Shen, Jhin, Syndra" />

          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Campeones</label>
              <select multiple class="form-control" style="height: 200px">
                <option *ngFor="let c of List" (click)="addChampionToList(c)">{{c.Nombre}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6" *ngIf="SearchCampeones.length > 0">
            <div class="form-group">
              <label>Seleccionados ({{SearchCampeones.length}})</label>
              <select multiple class="form-control" style="height: 200px">
                <option *ngFor="let s of SearchCampeones" (click)="removeChampion(s.Id)">{{s.Nombre}}</option>
              </select>

            </div>
          </div>
        </div>




     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="searchRecordsByChampions()" data-dismiss="modal" [disabled]="SearchCampeones.length == 0"><i class="fa fa-search"></i></button>
        <button type="button" class="btn btn-danger" (click)="clearList()" [disabled]="SearchCampeones.length == 0"><i class="fa fa-trash" ></i></button>

      </div>
    </div>
  </div>
</div>

<div class="modal inmodal" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <div class="modal-content animated fadeInDown text-center">

      <div class="modal-body">

        <div class="form-group">
          <label>¿Estás seguro de eliminar este registro?</label>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-danger" (click)="deleteRecord(SelectedRecord.Id)" data-dismiss="modal"><i class="fa fa-trash"></i> ELIMINAR</button>
        </div>



      </div>
  


    </div>
  </div>
</div>
