<div class="wrapper wrapper-content animated fadeIn">

  <div class="row">

    <div class="col-lg-4">
      <div class="ibox-title"><h4>Campeones</h4></div>
      <div class="ibox-content p-xl">

        <div class="form-group">
          <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modalNewCampeon">Agregar</button>
        </div>

        <div class="form-group">
          <label>Buscador de Campeones</label>
          <input class="form-control" type="search" value="Clear this." name="Search" [(ngModel)]="Search" (input)="filterSearch()" placeholder="Aatrox, Kha'Zix, Morgana..."/>
        </div>

        <div class="table-responsive m-t animated fadeInDown" *ngIf="List.length >= 1">
          <table class="table invoice-table">
            <thead>
              <tr>
                <th>Campeon</th>
                <th>Nombre</th>
                <th>Rol</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of List" style="cursor: pointer;" (click)="Campeon = c">
                <td>
                  <img src="assets/Champions/{{c.Nombre}}.png" width="40" height="40" />

                </td>
                <td style="vertical-align: middle;">
                  {{c.Nombre}}
                </td>
                <td style="vertical-align: middle;">
                  {{c.Roles.Nombre}}
                </td>
              </tr>
     
            </tbody>
          </table>
        </div>


      </div>
    </div>
    <div class="col-lg-8">

      <div class="ibox-title"><h4>Campeón</h4></div>
      <div class="ibox-content">

        <div class="form-group">
          <label>Nombre</label>
          <input class="form-control" type="text" name="Campeon.Nombre" [(ngModel)]="Campeon.Nombre"/>
        </div>

        <div class="form-group">
          <label>Rol</label>
          <select class="form-control" name="Campeon.RolId" [(ngModel)]="Campeon.RolId" >
            <option *ngFor="let r of Roles" [ngValue]="r.Id" >{{r.Nombre}}</option>
          </select>
        </div>

        <div class="form-group">
          <button class="btn btn-success" (click)="updateChampion()">Guardar</button>
          <button class="btn btn-danger" (click)="deleteChampion()">Eliminar</button>
        </div>

      </div>
    </div>


  </div>






</div>

<div class="modal inmodal" id="modalNewCampeon" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <div class="modal-content animated fadeInDown">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <i class="fa fa-plus-square modal-icon"></i>
        <h4 class="modal-title"> Nuevo Campeón</h4>
        <small>Añada un nuevo campeón al sistema.</small>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" name="nCampeon.Nombre" [(ngModel)]="nCampeon.Nombre" />
        </div>

        <div class="form-group">
          <label>Rol</label>
          <select class="form-control" [(ngModel)]="nCampeon.RolId">
            <option *ngFor="let r of Roles" [ngValue]="r.Id">{{r.Nombre}}</option>
          </select>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addChampion()" data-dismiss="modal"><i class="fa fa-edit"></i> Agregar</button>
        <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>

      </div>
    </div>
  </div>
</div>
